html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

#root #app-loader {
    color: white;
    position:fixed;
    z-index:1337;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    opacity:1;
    transition: opacity 1s;
    background-image: url(../assets/images/loader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root #app-loader .preload-title {
    font-size:6rem;
    text-align:center;
    font-family: 'raidercrusadertitle';
    position:absolute;
    left:50vw;
    top:50vh;
    transform: translate(-50%, -50%);
    text-shadow: 6px 6px 20px #555;
    font-variant:small-caps;
}

@font-face {
    font-family: 'raidercrusader';
    src: url('../assets/fonts/raidercrusader.woff2') format('woff2'),
         url('../assets/fonts/RaiderCrusader.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'raidercrusadertitle';
    src: url('../assets/fonts/raidercrusadertitle.woff2') format('woff2'),
         url('../assets/fonts/RaiderCrusaderTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
