@import 'menu';
@import 'debug';

@import 'game';
@import 'game-ui/game-ui-common.scss';


body {
    background-color: #ded2c3;
    min-width: 100vw;
    min-height: 100vh;
}

div {
    user-select: none;
}